<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>TestLM.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>US_Probe_Calibration.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1011E601011E601011E60000</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>101AB90101AB90101AB90000</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>103379010337901033790000</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>103A570103A570103A570000</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>10403E010403E010403E0000</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>104919010491901049190000</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>104D760104D760104D760000</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>10503C010503C010503C0000</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1052F901052F901052F90000</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>10539A010539A010539A0000</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>10548F010548F010548F0000</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>105BC70105BC70105BC70000</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>106B8E0106B8E0106B8E0000</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1070B001070B001070B00000</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1075F901075F901075F90000</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>107C010107C010107C010000</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>108184010818401081840000</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1082E701082E701082E70000</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>108E1D0108E1D0108E1D0000</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>109270010927001092700000</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>109682010968201096820000</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>109A190109A190109A190000</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>109F100109F100109F100000</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>10A451010A451010A4510000</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>10B0D4010B0D4010B0D40000</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>10B41C010B41C010B41C0000</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>10BABA010BABA010BABA0000</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>10BAD2010BAD2010BAD20000</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>10C373010C373010C3730000</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>10DDCD010DDCD010DDCD0000</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>10E274010E274010E2740000</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>10E7B2010E7B2010E7B20000</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>10E92A010E92A010E92A0000</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>10EFEC010EFEC010EFEC0000</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>511330511330511330000000</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>543190543190543190000000</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5431B05431B05431B0000000</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>543210543210543210000000</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>55FDF055FDF055FDF0000000</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>560280560280560280000000</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>560400560400560400000000</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B20B05B20B05B20B0000000</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C17805C17805C1780000000</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C39E05C39E05C39E0000000</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F1F205F1F205F1F20000000</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F3E705F3E705F3E70000000</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F42205F42205F4220000000</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
